{% extends 'base.html' %}
{% load staticfiles %}


{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}
    <div class="container">
        <div class="d-flex  justify-content-center">
            <div class="my-5  formating__wrapper">
                <h4 class="category_delete--text  text-center">Запустить расчет платежек?</h4> 
                <div class="category__form">
                    <form action="{% url 'person:formation_payments' %}" method="post"  id="formationPayForm">
                        {% csrf_token %}
        
                        <div class="form-group  d-flex  justify-content-around  mt-5">
                            <button class="btn  btn-danger" action="{% url 'person:formation_payments' %}" type="button" id="formationPayBtn">Cтарт!</button>
                            <div>
                                <a class="btn  btn-success" role="button" onclick="javascript:history.back(); return false;">отмена</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/paccount/manager.js' %}"></script>
{% endblock js %}
