{% extends 'directory/base.html' %}
{% load staticfiles %}

{% load auth_extras %}
{% load crispy_forms_tags %}

{% block menu %}
{% include 'directory/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}

<section class="edit  mt-5">
    <div class="container  d-flex  justify-content-center">
        <div class="edit__item">

            <h4 class="mb-3">Справочники</h4>
                    <div class="manager__directory-tab">
                        <div class="row">
                            <div class="col-3">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-city-tab" data-toggle="pill"
                                        href="#v-pills-city" role="tab" aria-controls="v-pills-city"
                                        aria-selected="true">Города</a>
                                    <a class="nav-link" id="v-pills-street-tab" data-toggle="pill"
                                        href="#v-pills-street" role="tab" aria-controls="v-pills-street"
                                        aria-selected="false">Улицы</a>
                                    <a class="nav-link" id="v-pills-house-tab" data-toggle="pill"
                                        href="#v-pills-house" role="tab" aria-controls="v-pills-house"
                                        aria-selected="false">Объекты</a>
                                    <a class="nav-link" id="v-pills-resident-tab" data-toggle="pill"
                                        href="#v-pills-resident" role="tab" aria-controls="v-pills-resident"
                                        aria-selected="false">Жильцы</a>
                                    <a class="nav-link" id="v-pills-rate-tab" data-toggle="pill"
                                        href="#v-pills-rate" role="tab" aria-controls="v-pills-rate"
                                        aria-selected="false">Тарифы</a>
                                </div>
                            </div>

                            <div class="col-9">
                                <div class="tab-content" id="v-pills-tabContent">

                                    <!-- Link-CITY -->
                                    <div class="manager-tab__city  tab-pane  fade show active" id="v-pills-city"
                                        role="tabpanel" aria-labelledby="v-pills-home-tab">

                                        <h4 class="mb-3">Новый город</h4>
                                        <form>
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                                <small id="emailHelp" class="form-text text-muted">Введите название
                                                    города для добавления</small>
                                            </div>
                                            <button type="submit"
                                                class="btn  btn-primary  btn-sm  mb-5  mt-3">Добавить</button>
                                        </form>

                                        <h4>Города</h4>
                                        <table class="table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Город</th>
                                                    <th scope="col">редактировать</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Тюмень</td>
                                                    <td><a href="#" class="text-decoration-none">редактировать</a>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Екатеринбург</td>
                                                    <td><a href="#" class="text-decoration-none">редактировать</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- ./manager-tab__city -->

                                    <!-- Link-STREET -->
                                    <div class="manager-tab__street  tab-pane fade" id="v-pills-street"
                                        role="tabpanel" aria-labelledby="v-pills-street-tab">

                                        <h4 class="mb-3">Новая улица</h4>
                                        <form>
                                            <div class="d-flex  align-items-center  form-row  my-2">
                                                <div class="form-group  col  manager-tab__street-form">
                                                    <label for="inputState">Город</label>
                                                    <select id="inputState" class="form-control mr-5">
                                                        <option selected>Выберите город</option>
                                                        <option>Тюмень</option>
                                                        <option>Екатеринбург</option>
                                                    </select>
                                                </div>
                                                <div class="form-group  col  ml-3">
                                                    <label for="inputEmail4">Улица</label>
                                                    <input type="text" class="form-control" id="inputEmail4"
                                                        placeholder="ул. Советская">
                                                </div>
                                            </div>
                                            <button type="submit"
                                                class="btn  btn-primary  btn-sm  mt-2">Добавить</button>
                                        </form>

                                        <h4 class="mb-3 mt-5">Улицы</h4>
                                        <table class="table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Город</th>
                                                    <th scope="col">Улица</th>
                                                    <th scope="col">редактировать</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Тюмень</td>
                                                    <td>ул.Советская</td>
                                                    <td><a href="#" class="text-decoration-none">редактировать</a>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Тюмень</td>
                                                    <td>ул.Пушкинская</td>
                                                    <td><a href="#" class="text-decoration-none">редактировать</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div><!-- ./manager-tab__street -->

                                    <!-- Link-HOUSE -->
                                    <div class="manager-tab__house  tab-pane fade" id="v-pills-house"
                                        role="tabpanel" aria-labelledby="v-pills-house-tab">

                                        <a href="#" class="d-inline-flex  mb-5  manager-tab__link  text-decoration-none">Добавить дом</a>

                                        <h4>Объекты</h4>
                                        <table class="table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Город</th>
                                                    <th scope="col">Улица</th>
                                                    <th scope="col">Дом</th>
                                                    <th scope="col">Квартиры</th> <!-- TODO Добавить ярлыки "Квартиры", "Редактировать" -->
                                                    <th scope="col">Редактировать</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Тюмень</td>
                                                    <td>ул.Советская</td>
                                                    <td>56</td>
                                                    <td><a href="#" class="text-decoration-none">смотреть</a></td>
                                                    <td><a href="#" class="text-decoration-none">редактировать</a></td>

                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Тюмень</td>
                                                    <td>ул.Пушкинская</td>
                                                    <td>56</td>
                                                    <td><a href="#" class="text-decoration-none">смотреть</a></td>
                                                    <td><a href="#" class="text-decoration-none">редактировать</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- ./manager-tab__object -->

                                    <!-- Link-RESIDENT -->
                                    <div class="manager-tab__resident  tab-pane fade" id="v-pills-resident"
                                        role="tabpanel" aria-labelledby="v-pills-resident-tab">

                                        <a href="#" class="d-inline-flex  mb-5  manager-tab__link  text-decoration-none">Добавить жильца</a>

                                        <h4>Жильцы</h4>
                                        <table class="table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Лицевой счет</th>
                                                    <th scope="col">ФИО</th>
                                                    <th scope="col">Адрес</th>
                                                    <th scope="col">Долг/переплата</th>
                                                    <th scope="col">редактировать</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>123456</td>
                                                    <td>Иванов Иван Иванович</td>
                                                    <td>ул.Советская, д.10, кв.7</td>
                                                    <td class="text-danger  text-700  text-center">4200 руб.</td>
                                                    <td><a href="#" class="text-decoration-none">редактировать</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>123457</td>
                                                    <td>Сидоров Александр Александрович</td>
                                                    <td>ул.Советская, д.13, кв.8</td>
                                                    <td class="text-success  text-center">-329 руб.</td>
                                                    <td><a href="#" class="text-decoration-none">редактировать</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- ./manager-tab__object -->

                                    <!-- Link-RATE -->
                                    <div class="tab-pane fade" id="v-pills-rate" role="tabpanel"
                                        aria-labelledby="v-pills-rate-tab">

                                        <h4 class="mb-3">Тарифы</h4>
                                        <table class="table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Наименование</th>
                                                    <th scope="col">Ед.изм.</th>
                                                    <th scope="col">Норматив</th>
                                                    <th scope="col">Цена</th>
                                                    <th scope="col">Константа</th>
                                                    <th scope="col">Редактировать</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Взносы на капитальный ремонт</td>
                                                    <td class="text-center">м2</td>
                                                    <td class="text-center">1</td>
                                                    <td class="text-center">15.323</td>
                                                    <td class="text-center"><input type="checkbox"
                                                            class="form-check-input" id="exampleCheck1" checked>
                                                    </td>
                                                    <td class="text-center"><a href="#"
                                                            class="text-decoration-none">редактировать</a></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Холодная вода (индивидуальное потребление)</td>
                                                    <td class="text-center">м3</td>
                                                    <td class="text-center">1</td>
                                                    <td class="text-center">15.323</td>
                                                    <td class="text-center"><input type="checkbox"
                                                            class="form-check-input" id="exampleCheck1"></td>
                                                    <td class="text-center"><a href="#"
                                                            class="text-decoration-none">редактировать</a></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>Горячая вода (индивидуальное потребление)</td>
                                                    <td class="text-center">м3</td>
                                                    <td class="text-center">1</td>
                                                    <td class="text-center">25.401</td>
                                                    <td class="text-center"><input type="checkbox"
                                                            class="form-check-input" id="exampleCheck1"></td>
                                                    <td class="text-center"><a href="#"
                                                            class="text-decoration-none">редактировать</a></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div><!-- ./row -->
                    </div><!-- ./manager__directory-tab -->

        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $('#div_id_password').hide();
    $('#id_personal_account').hide();
    $('#id_personal_account').before('<p style="font-weight: bold;">{{ user.personal_account }}</p>');
</script>
{% endblock %}