{% extends 'directory/base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block menu %}
    {% include 'directory/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}
    <div class="directory__form">
        <form class="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form %}
            {% comment  'Подумать нужно ли использовать??'%}
                {% for error in form.non_field_errors %}
                    <div class="alert  alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}

                {% for field in form %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                    </div>

                    {% if field.errors %}
                        <div class="alert  alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endcomment %}
        </form>
        <div class="new_category_form--back_back">
            <a class="form-control  btn  btn-outline-secondary mt-3" onclick="javascript:history.back(); return false;" role="button">назад</a>
        </div>
    </div>
{% endblock content %}