{% extends 'directory/base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block menu %}
    {% include 'directory/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}
    <div class="directory__form">
        <form class="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                </div>

                {% if field.errors %}
                    <div class="alert  alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="new_category_form--btn">
                <input class="form-control  bg-success  text-white  new_category_form--save" type="submit" value="сохранить">
            </div>
        </form>
        <div class="new_category_form--back_back">
            <a class="form-control  btn  btn-outline-secondary mt-3" onclick="javascript:history.back(); return false;" role="button">к списку городов</a>
        </div>
    </div>
{% endblock content %}