html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

table, td, th {
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

th {
    font-size: 1rem;
    font-weight: normal;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    width: 710px;
    padding: 0;
    margin: 0 auto;
}

.btn__invoice {
    display: flex;
    justify-content: center;
}

.btn__invoice li {
    list-style: none;
    margin: 10px 15px;
}

.header__top, .header__center{
    padding: 10px 2px;
    margin: 0 0;
    width: 600px;

    line-height: 1.2;

    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.text__period {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.text__sum {
    font-weight: bold; 
    font-size: 1.2rem;
    text-transform: uppercase;
}

.header__bottom{
    width: 600px;

    margin-bottom: 1rem;
}

.header__top--payer {
    margin-bottom: 1rem;
}

.text__center {
    text-align: center;
}

.text__right {
    text-align: right;
}

.table__bold {
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
}

.pad__table {
    padding: 2px;
}

/* То что не печатаем помечаем .no-print */
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}