{% extends 'personalacc/base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}


{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}
<div class="intro-user  mt-5">
    <div class="container">
        <h2 class="intro-user__title  text-center">Здравствуйте, Иванов Иван!</h2>
    </div>
</div>

<div class="user-area">
    <div class="container">

        <h4 class="user-area__title  mt-3  mb-3">Личный кабинет</h4>

    </div>
</div>

<div class="tenants">
    <div class="container">
        <div class="d-flex  flex-row  tenants__item  flex-column">

            <!-- Nav-TABS -->
            <ul class="nav nav-tabs  mb-5" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Общая информация</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#testimony" role="tab"
                        aria-controls="profile" aria-selected="false">Подать показания</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#history" role="tab"
                        aria-controls="contact" aria-selected="false">История платежей</a>
                </li>
            </ul>

            <!-- Tabs-CONTENT -->
            <div class="tab-content  pb-5  mb-5" id="myTabContent">

                <!-- Tab-HOME -->
                <div class="tab-pane  fade  show  active  user-area__table" id="home" role="tabpanel" aria-labelledby="home-tab">
                    
                    <p class="user-area__subtitle  text-700  mb-4">Ваши персональные данные</p>
                    <table class="table table-striped">
                        {% if user.is_active %}
                        <tbody>
                            <tr>
                                <th scope="row">ФИО</th>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Лицевой счет</th>
                                <td>{{ user.personal_account }}</td>
                            </tr>
                            <tr>
                                <th scope="row">E-mail</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Телефон</th>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Город</th>
                                <td>{{ appartament.0.house.city.city }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Адрес</th>
                                <td>
                                    {{ appartament.0 }}
                                </td>
                            </tr>
                        </tbody>
                        {% endif %}
                    </table>
                </div>

                <!-- Tab-COUNTER -->
                <div class="tab-pane  fade  user-area__table" id="testimony" role="tabpanel" aria-labelledby="profile-tab">
                    <h4 class="mb-3">Введите показания счетчиков в поля</h4>
                        <div class="alert alert-warning" role="alert">
                            <ul class="">
                                {% comment 'Заказчик отменил пока'%}
                                    <li><span class="text-700">Счетчик ГВС</span> (горячая вода), укажите целое число до запятой</li>
                                    <li><span class="text-700">Счетчик ХВС</span> (холодная вода), укажите целое число до запятой</li>
                                {% endcomment %}
                                {% if user.profiles.type_electric_meter == '2' %}
                                    <li><span class="text-700">Электроэнергия (день)</span>, укажите целое число до запятой</li>
                                    <li><span class="text-700">Электроэнергия (ночь)</span>, укажите целое число до запятой</li>
                                {% else %}
                                    <li><span class="text-700">Электроэнергия</span>, укажите целое число до запятой</li>
                                {% endif %}
                                <li>Нажать кнопку <span class="text-700">СОХРАНИТЬ</span></li>
                            </ul>
                        </div>

                    {% now "d" as today %}
                    {% if "01" < today and today < "31" %}
                        <h4 class="mt-5">Таблица для заполнения</h4>
                        <div class="">
                            <form id="counterForm" method="POST" name="counterForm">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="counterForm">
        
                                <div class="user-area__table">
                                    <table class="user-area__table  table">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th class="text-center" scope="col">Показания</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" type>Пользователь:</th>
                                                <td class="text-center" id="userName">{{ form.user|as_crispy_field }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Холодная вода:</th>
                                                <td class="text-center" id="electricDay">{{ form.col_water|as_crispy_field }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Горячая вода:</th>
                                                <td class="text-center" id="electricNight">{{ form.hot_water|as_crispy_field }}</td>
                                            </tr>
                                            {% comment 'Электроэнергию не считаем'%}
                                                {% if user.profiles.type_electric_meter == '2' %}
                                                <tr>
                                                    <th scope="row">Электроэнергия день:</th>
                                                    <td class="text-center" id="electricDay">{{ form.electric_day|as_crispy_field }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Электроэнергия ночь:</th>
                                                    <td class="text-center" id="electricNight">{{ form.electric_night|as_crispy_field }}</td>
                                                </tr>
                                                {% elif user.profiles.type_electric_meter == '1'  %}
                                                <tr>
                                                    <th scope="row">Электроэнергия:</th>
                                                    <td class="text-center" id="electricSingle">{{ form.electric_single|as_crispy_field }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if user.profiles.type_electric_meter == '2' %}
                                                <tr>
                                                    <th scope="row">Электроэнергия день:</th>
                                                    <td class="text-center" id="electricDay">{{ form.electric_day|as_crispy_field }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Электроэнергия ночь:</th>
                                                    <td class="text-center" id="electricNight">{{ form.electric_night|as_crispy_field }}</td>
                                                </tr>
                                                {% elif user.profiles.type_electric_meter == '1'  %}
                                                <tr>
                                                    <th scope="row">Электроэнергия:</th>
                                                    <td class="text-center" id="electricSingle">{{ form.electric_single|as_crispy_field }}</td>
                                                </tr>
                                                {% endif %}
                                            {% endcomment %}
                                        </tbody>
                                    </table>
                                </div>
                                <button action="{% url 'person:user' %}" type="button" class="form-control  bg-success  text-white  new_category_form--save" id="counterBtn">Сохранить</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            ВНИМАНИЕ! Показания принимаются с 20 по 26 число каждого месяца!
                        </div>
                    {% endif %}
                </div>

                <!-- Tab-HISTORY -->
                <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="contact-tab">
                    <h4 class="mb-3">История начислений</h4>
                    <div class="user-area__history-tab">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Месяц</th>
                                    <th class="text-center" scope="col">Сумма</th>
                                    <th class="text-center" scope="col">Квитанция</th>
                                    <th class="text-center" scope="col">Оплатить</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01.2021</td>
                                    <td class="text-center">4500 руб.</td>
                                    <td class="text-center"><a class="btn btn-light border border-secondary  btn-sm" href="{% url 'invoice:invoice' %}" role="button">Квитанция</a></td>
                                    <!-- <td class="text-center"><button type="submit" href="{% url 'invoice:invoice' %}" class="btn btn-light border border-secondary  btn-sm">Квитанция</button></td> -->
                                    <td class="text-center"><a href="#" class="text-decoration-none">Оплатить</a></td>
                                </tr>
                                <tr>
                                    <td>02.2021</td>
                                    <td class="text-center">4200 руб.</td>
                                    <td class="text-center"><button type="button" class="btn btn-light border border-secondary  btn-sm">Квитанция</button></td>
                                    <td class="text-center"><a href="#" class="text-decoration-none">Оплатить</a></td>
                                </tr>
                                <tr>
                                    <td>03.2021</td>
                                    <td class="text-center">5100 руб.</td>
                                    <td class="text-center"><button type="button" class="btn btn-light border border-secondary  btn-sm">Квитанция</button></td>
                                    <td class="text-center"><a href="#" class="text-decoration-none">Оплатить</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
