{% load auth_extras %}

<div class="collapse navbar-collapse  d-flex  justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/">Главная</a></li>
        <li class="nav-item"> <a class="nav-link" aria-current="page" href="#">Новости</a></li>
        <li class="nav-item"> <a class="nav-link" aria-current="page" href="#">Бонус</a></li>
        <li class="nav-item"> <a class="nav-link" aria-current="page" href="#">Контакты</a></li>
    </ul>
    
    <div class="menu__right  d-flex">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                {% if request.user|has_group:"Client" %}
                <li class="nav-item  dropdown">
                    <a class="nav-link text-dark" aria-current="page" href="{% url 'person:user' %}">Кабинет</a>
                </li>                
                {% elif request.user|has_group:"Manager" %}
                <li class="nav-item  dropdown">
                    <a class="nav-link  text-dark  dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Менеджер</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'person:manager' %}">Профиль</a>
                        <a class="dropdown-item" href="{% url 'person:manager' %}">Кабинет</a>
                    </div>
                    <!-- <a class="nav-link text-dark" aria-current="page" href="{% url 'person:manager' %}">Менеджер</a> -->
                </li>
                {% elif user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" href="admin/">Админка</a>
                </li>
                {% endif %}
            {% endif %}
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link text-dark" aria-current="page" href="{% url 'auth:logout' %}">Выйти</a>
                {% else %}
                    <a class="nav-link text-dark" aria-current="page" href="{% url 'auth:login' %}">Войти</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>