{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}
    <section class="password  pt-5">
        <div class="container  d-flex  justify-content-center">
            <div class="password__items">
                <h1 class="text-center  mb-5">Сброс пароля</h1>
                <div class="alert  alert-warning  mb-5">Пожалуйста, введите Ваш Email</div>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-floating  mb-4">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Сброс</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}