{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}
    <section class="password  pt-5">
        <div class="container">
            <div class="password__items  d-flex  flex-column  align-items-center">
                <h1 class="text-center">Мы отправили вам E-mail</h1>
                <div class="alert  alert-info  mt-5"  style="max-width: 600px;">Пожалуйста, проверьте почтовый ящик, для получения подробных инструкций.</div>
            </div>
        </div>
    </section>
{% endblock %}
