{% load staticfiles %}

<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">

    {% block css %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock css %}


    <!-- Главная | УК "Новый Город" -->
    <title>
        {% block title %}
        {% endblock title %}
    </title>

</head>

<body>

    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container">
                <img class="mr-3" src="{% static 'img/icon/house-fill.svg' %}" alt="House" width="30" height="30">
                <a class="navbar-brand" href="/">УК Новый Город</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                </button>

                {% block menu %}
                {% endblock menu %}
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer__item">
                <div class="footer__top">
                    <div class="footer__top-item">
                        <p class="footer__city">ООО УК "Новый Город"</p>
                        <p><a class="footer__link" href="#">Новости</a></p>
                        <p><a class="footer__link" href="#">Внести счетчики</a></p>
                        <p><a class="footer__link" href="#">Политика конфеденциальности</a></p>
                    </div>
                </div>

                <hr class="footer__line">

                <div class="footer__bottom">
                    <p class="footer__copy">Все права защищены © Тюмень 2015 - 2021 гг.</p>
                    <p class="footer__parent">A &amp;&amp; A</p>
                </div>
            </div><!-- ./footer__item -->
        </div><!-- ./container -->
    </footer>

    {% block js %}
    <!-- Javascript -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/manager.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script>
        // Enable tooltips everywhere
        //   https://getbootstrap.com/docs/4.4/components/tooltips/#example-enable-tooltips-everywhere
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <!-- <script src="{% static 'js/html2canvas.js' %}"></script> -->
    <!-- <script src="{% static 'js/invoice.js' %}"></script> -->
    {% endblock js %}
    
</body>

</html>