{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock menu %}


{% block content %}
<!-- Intro Slider -->
<section class="intro">
    <div class="container">

        <div class="intro__img">
            <img src="{% static 'img/slide_1.jpg' %}" class="d-block w-100" alt="...">
        </div>

    </div>
</section>


<!-- Content -->
<section class="content">
    <div class="container  pt-5">
        <div class="content__item  my-5  pb-5">
            <div class="row">

                {% for new in news %}
                <hr style="color: #000; height: 1px; width: 100%">
                <div class="row">
                    <h2>{{ new.title }}</h2>
                    <p>{{ new.content }}</p>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endblock content %}
