<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__item">
            <div class="footer__top">
                <div class="footer__top-item">
                    <p class="footer__city">{{ site_config.name }}</p>
                    <p><a class="footer__link" href="{% url 'news' %}">Новости</a></p>
                    <p><a class="footer__link" href="{% url 'contact' %}">Контакты</a></p>
                    <p><a class="footer__link" href="#">Политика конфеденциальности</a></p>
                </div>
            </div>

            <hr class="footer__line">

            <div class="footer__bottom">
                <p class="footer__copy">{{ site_config.footer_copyright }}</p>
                <p class="footer__parent">A &amp;&amp; A</p>
            </div>
        </div><!-- ./footer__item -->
    </div><!-- ./container -->
</footer>