<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/">Главная</a> </li>
        <li class="nav-item"> <a class="nav-link" aria-current="page" href="#">Новости</a> </li>
        <li class="nav-item"> <a class="nav-link" aria-current="page" href="#">Бонус</a> </li>
        <li class="nav-item"> <a class="nav-link" aria-current="page" href="#">Контакты</a> </li>
    </ul>
    
    <ul class="navbar-nav">
        <!-- TODO Показываем при авторизации -->
        <li class="nav-item"> <a class="nav-link text-dark" aria-current="page"
            href="manager_account.html">Менеджер</a></li>

        <!-- TODO Показываем при авторизации -->
        <li class="nav-item"> <a class="nav-link text-dark" aria-current="page"
            href="user_account.html">Кабинет</a></li>

        <li class="nav-item"> <a class="nav-link text-dark" aria-current="page"
                href="index.html">Выход</a></li>
    </ul>
    
</div>