{% extends 'authnapp/base.html' %}
{% load staticfiles %}

{% load auth_extras %}
{% load crispy_forms_tags %}

{% block menu %}
{% include 'authnapp/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}

<section class="edit  mt-5">
    <div class="container  d-flex  justify-content-center">
        <div class="edit__item">

            <form class="form-horizontal" action="{% url 'auth:edit' object.pk %}" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% if next_page %}
                    <input type="hidden" name="next_page" value="{{ next_page }}">
                {% endif %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                    </div>

                    {% if field.errors %}
                        <div class="alert  alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
                {% if not user.is_staff and not user.is_superuser %}
                <table class="table">
                    {{ profile_form.management_form }}
                    {{ profile_form.non_form_errors }}
                    
                        {% for form in profile_form %}
                        <div class="list-inline">
                            {{ form.as_p }}
                        </div>
                            {% if form.errors %}
                                <div class="alert  alert-danger">
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                </table>
                {% endif %}
                <br>

                <div class="change_pass  pb-5">
                    <a href="{% url 'authnapp:password_change' %}"
                        class="col  text-right  text-decoration-none">Изменить пароль</a>
                </div>

                <input class="btn btn-outline-primary btn-block  mb-3" type="submit" value="сохранить">

            </form>
            <a href="{% url 'main' %}" class="btn btn-outline-secondary btn-block" role="button">
                на главную
            </a>

        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $('#id_password').parent().hide();
    $('#id_personal_account').hide();
    $('#id_personal_account').before('<p style="font-weight: bold;">{{ user.personal_account }}</p>');
</script>
{% endblock %}