{% extends 'authnapp/base.html' %}
{% load staticfiles %}


{% block menu %}
    {% include 'authnapp/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}
<section class="login">
    <div class="container  d-flex  justify-content-center">
        <div class="login__item">
            <form class="login__form">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Введите лицевой счет</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Мы никогда не передадим ваши персональные данные третьим
                        лицам.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Сохранить пароль</label>
                </div>
                <button type="submit" class="btn btn-primary">Отпавить</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
