{% extends 'authnapp/base.html' %}
{% load staticfiles %}


{% block menu %}
    {% include 'authnapp/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}
<section class="login">
    <div class="container  d-flex  justify-content-center">
        <div class="login__item">
            <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
                {% csrf_token %}
                {% if next_page %}
                <input type="hidden" name="next_page" value="{{ next_page }}">
                {% endif %}
                {{ login_form.as_p }}
                <br>
                <input class="btn btn-outline-primary btn-block" type="submit" value="войти">
            </form>
            <a class="btn btn-outline-secondary btn-block mt-3" href="{% url 'auth:register' %}"  role="button">
                зарегистрироваться
            </a>
        </div>
    </div>
</section>
{% endblock content %}
