{% extends "authnapp/base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block menu %}
    {% include 'authnapp/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}

<section class="password  mt-5">
    <div class="container  d-flex  justify-content-center">
        <div class="password__items">
            <div class="mt-5  flex-column  d-flex  justify-content-center">

                <h1>Пароль изменен!</h1>
                <div class="alert  alert-success  mt-3  mb-5">
                    <p>Ваш пароль был успешно изменен.</p>
                </div>
                <a href="{% url 'main' %}" class="text-decoration-none  text-center">На главную</a>

            </div>
        </div>
    </div>
</section>
{% endblock %}