{% extends "authnapp/base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block menu %}
    {% include 'authnapp/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}

<section class="password  mt-5">
    <div class="container  d-flex  justify-content-center">
        <div class="password__items">

            <h1 class="text-center  mb-5">Сброс пароля</h1>
            <div class="alert  alert-info  mb-5">Пожалуйста, введите Ваш Email</div>
            <form method="post">

                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn  btn-primary">Сброс</button>

            </form>

        </div>
    </div>
</section>
{% endblock %}