{% extends 'authnapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    {% include 'authnapp/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}

<div class="d-flex  justify-content-center  mt-5">
    <form class="form-horizontal  w-100  main-form" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ register_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="зарегистрироваться">
    </form>
</div>

{% endblock %}